{% extends '../base.html' %}

{% block title %}Поиск{% endblock %}


{% block body %}


{% load static %}
{% load check_contact %}
<div class="container">

    <div class="d-flex mt-3">
        <div class="w-25">

            <h4>Фильтр поиска</h4>
        </div>
        <div class="w-75 bg-light p-3">
            <h4>Найдено людей: {{ users.count }}</h4>

                {{ user_followers }}
                {% for u in users %}

                        <div class="p-2 mt-3 border d-flex">
                            <a href="{% url 'profile' slug=u.slug %}" class="text-decoration-none text-dark">
                                <img src="{% static u.avatar.url %}" width="100px" height="100px">
                            </a>
                            <div class="user-info ms-5">
                                <h5>{{ u.first_name }} {{ u.last_name }}</h5>
                                <h6>{{ u.country }}, {{ u.city }}</h6>
                                <p>Подписчиков: <span id="followers{{ u.id }}">{{ u.contact_to.all.count }}</span></p>
                            </div>

                            {% check_contact request.user u as check_c %}
                            <div class="btns">
                                {% if not request.user == u %}
                                    <button id="add-contact-btn{{ u.id }}"
                                        class="add-contact-btn btn btn-dark"
                                        data-action="{% if check_c %}un{% endif %}follow"
                                        data-id="{{ u.id }}">
                                        {% if check_c %}Отписаться{% else %}Подписаться{% endif %}
                                    </button>
                                    <a href="{% url 'chat_create' user_id=u.id %}" class="btn btn-outline-dark">Сообщение</a>
                                {% endif %}
                            </div>

                        </div>
                    </a>
                {% endfor %}

            </div>

        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>

$(document).ready(function () {
    $('.add-contact-btn').click(function() {
        var id = $(this).data('id');

        $.ajax({
            type: "POST",
            url: "{% url 'follow_to_user' %}",
            data: {'id': $(this).data('id'), action: $(this).data('action'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function(response) {
                var previous_action = $('#add-contact-btn'+id).data('action')


                $('#add-contact-btn'+id).data('action', previous_action == "follow" ? "unfollow": 'follow');

                var previous_followers = parseInt($('#followers'+id).text());

                $('#add-contact-btn'+id).text(
                    previous_action == 'follow' ? "Отписаться" : "Подписаться");

                $('#followers'+id).text(
                    previous_action == 'follow' ? previous_followers + 1 : previous_followers - 1
                );
            }
        });
    })
});


</script>

{% endblock %}