{% extends '../base.html' %}

{% block title %}Новости{% endblock %}

{% load static %}
{% load mptt_tags %}

{% block body %}

<div class="container">
    <div class="main-body col-8 mt-5 mx-auto">
{% for post in posts %}
        <div class="card mb-3">
            <a class="fw-bold ms-3 mt-2 mb-2 text-reset text-decoration-none" href="{% url 'profile' slug=post.user.slug %}">
                @{{ post.user.username }}
            </a>
            {% if post.image %}
            <img src="{% static post.image.url %}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.body }}</p>

                <div class="d-flex justify-content-between">
                {% if post.updated_at %}
                    <p class="card-text"><small class="text-muted">Опубликовано: {{ post.created.time }}</small></p>
                {% else %}
                    <p class="card-text"><small class="text-muted">Изменено: {{ post.updated.time }}</small></p>
                {% endif %}
                    <p class="card-text">
                        {% with total_likes=post.likes.all.count %}
                        <small class="text-muted m-auto total">Лайки: <span id='total-likes{{ post.id }}'>{{ total_likes }}</span></small>
                        <a href="javascript:void(0)" id="like{{ post.id }}" data-id="{{ post.id }}" data-action="{% if post.id in user_likes %}un{% endif %}like" class="like">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                    <path id='like-icon{{ post.id }}' d="{% if post.id in user_likes %}
                                        M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z
                                    {% else %}
                                        m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z
                                    {% endif %}
                                    "/>
                                </svg>
                        </a>
                        {% endwith %}
                    </p>
                </div>
                <hr>
                <form method="post" action="{% url 'comment_post' %}">
                    {% csrf_token %}
                    {{ form }}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <button class="btn btn-dark btn-sm mt-1" type="submit">Оставить комментарий</button>
                </form>
                <hr>

                <ul class="root mt-3" style="list-style: none;">
                {% recursetree post.comments.all %}
                    {{ node.user }} <small class="text-muted">{{ node.created }}</small><br>
                        {{ node.content }}<br>
                        <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapseExample{{node.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">Ответить</a> <br>
                        <form method="post" action="{% url 'comment_post' %}" class="collapse" id="collapseExample{{node.id}}">
                            {% csrf_token %}
                            {{ form }}
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <input type="hidden" name="parent_id" value="{{ node.id }}">
                            <button class="btn btn-dark btn-sm mt-1" type="submit">Ответить</button>
                        </form>
                        {% if not node.is_leaf_node %}
                            <ul class="children mb-2" style="list-style: none;">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>


            </div>
        </div>

        {% empty %}
            Публикаций нет

        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascript %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>

$('.like').click(function() {
    var pk = $(this).data('id');
    $.ajax({
        type: "POST",
        url: "{% url 'post_like' %}",
        data: {'id': $(this).data('id'), action: $(this).data('action'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success: function(response) {
            var previous_action = $('#like'+pk).data('action')

            $('#like'+pk).data('action', previous_action == "like" ? "unlike": 'like');

            var previous_likes = parseInt($('#total-likes'+pk).text());

            $('#like-icon'+pk).attr(
                "d", previous_action == 'like' ? "M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" : "m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z")

            $('#total-likes'+pk).text(
                previous_action == 'like' ? previous_likes + 1 : previous_likes - 1
            );
        }
    });
})



</script>

{% endblock %}
