{% extends '../base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% load static %}
{% load mptt_tags %}

{% load check_contact %}
{% load check_if_user_like_post %}

{% block body%}
<div class="container">

    <div class="main-body mt-5">
        <div class="row gutters-sm">
            <!--left column-->
            <div class="col-md-4 mb-3">
                <!--Profile card-->
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{% static user.avatar.url %}" alt="Admin" class="rounded-circle" width="150" height="150">
                        <div class="mt-3">
                        <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                        <p id="followers" class="text-secondary mb-1">{{ user.contact_to.all.count }}</p>
                        <p class="text-muted font-size-sm">{{ user.country.name }}</p>

                        {% if not request.user == user %}
                            {% check_contact request.user user as cc %}
                        <button id="add-contact-btn" 
                            class="btn btn-dark" 
                            data-action="{% if cc %}un{% endif %}follow"
                            data-id="{{ user.id }}">
                            {% if cc %}Отписаться{% else %}Подписаться{% endif %}
                        </button>
                        <a href="{% url 'chat_create' user_id=user.id %}" class="btn btn-outline-dark">Сообщение</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>


        <h3 class="ms-2 mb-0 mt-2">Подписки</h3>
        <div class="card mt-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                    <span class="text-secondary">https://bootdey.com</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                    <span class="text-secondary">bootdey</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                    <span class="text-secondary">@bootdey</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                    <span class="text-secondary">bootdey</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                    <span class="text-secondary">bootdey</span>
                </li>
            </ul>
        </div>
    </div>

        <!--Main column-->
    <div class="col-md-8">
        <div class="card mb-3">
            <!--Profile card-->
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Имя, Фамилия</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ user.first_name }} {{ user.last_name }}
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ user.email }}
                    </div>
                </div>

                {% if user.phone %}
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Телефон</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ user.phone }}
                    </div>
                </div>
                {% endif %}

                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Страна</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ user.country.name }}
                    </div>
                </div>

                {% if user.about_me %}
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Про меня</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ user.about_me }}
                    </div>
                </div>
                {% endif %}

                {% if request.user == user %}
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-dark" target="__blank" href="{% url 'profile_update' slug=request.user.slug %}">Настройки профиля</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <h3 class="ms-2 mb-0">Посты</h3>
        {% for post in user.posts.all %}
        <div class="card mb-3">
            {% if post.image %}
            <img src="{% static post.image.url %}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.body }}</p>

                <div class="d-flex justify-content-between">
                {% if post.updated_at %}
                    <p class="card-text"><small class="text-muted">Опубликовано: {{ post.created.time }}</small></p>
                {% else %}
                    <p class="card-text"><small class="text-muted">Изменено: {{ post.updated.time }}</small></p>
                {% endif %}
                    <p class="card-text">
                        {% with total_likes=post.likes.all.count %}
                        {% check_if_user_like_post request.user post as check_like %}
                        <small class="text-muted m-auto total">Лайки: <span id='total-likes{{ post.id }}'>{{ total_likes }}</span></small>
                        <a href="javascript:void(0)" id="like{{ post.id }}" data-id="{{ post.id }}" data-action="{% if check_like %}un{% endif %}like" class="like">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                    <path id='like-icon{{ post.id }}' d="{% if check_like %}
                                        M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z
                                    {% else %}
                                        m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z
                                    {% endif %}
                                    "/>
                                </svg>
                        </a>
                        {% endwith %}
                    </p>
                </div>
                <hr>

                    <div>
                        <form class="comment-form" id="comment-form-{{ node.id }}" data-id="{{ post.id }}" method="post">
                            <textarea class="form-control form-comment-{{ post.id }}" rows="2" cols="40" placeholder="Комментарий" id="comment-text{{ post.id }}" name="comment_content"></textarea>
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <button class="btn btn-dark btn-sm mt-1" type="submit">Оставить комментарий</button>
                        </form>
                    </div>
                <hr>

                <ul class="root mt-3 comment-node-post{{ post.id }}" style="list-style: none;">

                {% recursetree post.comments.all %}
                    <li id="{{ node.id }}">
                        {{ node.user }} <small class="text-muted">{{ node.created }}</small><br>
                        {{ node.content }}<br>
                        <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapseExample{{node.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">Ответить</a> <br>
                        <div class="collapse" id="collapseExample{{node.id}}">
                            <form class="comment-form" id="comment-form-{{ node.id }}" data-id="{{ post.id }}" data-parentid="{{ node.id }}" data-nodeid="{{ node.id }}">
                                <textarea class="form-control form-comment-{{ post.id }}" rows="2" cols="40" placeholder="Комментарий" id="comment-text{{ post.id }}" name="comment_content"></textarea>
                                <button class="btn btn-dark btn-sm mt-1" type="submit">Ответить</button>
                            </form>
                        </div>
                    </li>
                        {% if not node.is_leaf_node %}
                            <ul class="children mb-2" style="list-style: none;">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>

            </div>
        </div>

        {% empty %}
            Публикаций нет

        {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascript %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>

$(document).ready(function () {
    $('.comment-form').submit(function(e) {
        e.preventDefault();

        var _postid = $(this).attr('data-id');
        var _comment = $(this).find('.form-control').val();
        var _nodeid = $(this).attr('data-nodeid');
        var _parentid = $(this).attr('data-parentid')

        $.ajax({
            type: "POST",
            url: "{% url 'comment_post' %}",
            data: {'post_id': _postid, 'content': _comment, 'parent_id': _parentid, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function(response) {

                const options = {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric',
                    hour12: true,
                    hour: 'numeric',
                    minute: '2-digit'
                };
                let currentdate = new Date().toLocaleString('en-US', options)
                var _html =`
                <li id="${response['node']}">
                    {{ request.user }} <small class="text-muted">${currentdate}</small><br>
                    ${_comment}<br>
                    <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapseExample${response['node']}" role="button" aria-expanded="false" aria-controls="collapseExample">Ответить</a> <br>
                    <div class="collapse" id="collapseExample${response['node']}">
                        <form class="comment-form" id="comment-form-${response['node']}" data-id="${response['post']}" data-parentid="${response['node']}" data-nodeid="${response['node']}">
                            <textarea class="form-control form-comment-${response['post']}" rows="2" cols="40" placeholder="Комментарий" id="comment-text${response['post']}" name="comment_content"></textarea>
                            <button class="btn btn-dark btn-sm mt-1" type="submit">Ответить</button>
                        </form>
                    </div>
                </li>
                    `

                if (_nodeid) {
                    $(`
                    <ul class="children mb-2" style="list-style: none;">
                        <li id="${response['node']}">
                            {{ request.user }} <small class="text-muted">${currentdate}</small><br>
                            ${_comment}<br>
                            <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapseExample${response['node']}" role="button" aria-expanded="false" aria-controls="collapseExample">Ответить</a> <br>
                            <div class="collapse" id="collapseExample${response['node']}">
                                <form class="comment-form" id="comment-form-${response['node']}" data-id="${response['post']}" data-parentid="${response['node']}" data-nodeid="${response['node']}">
                                    <textarea class="form-control form-comment-${response['post']}" rows="2" cols="40" placeholder="Комментарий" id="comment-text${response['post']}" name="comment_content"></textarea>
                                    <button class="btn btn-dark btn-sm mt-1" type="submit">Ответить</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                `).insertAfter(`#${_nodeid}`);
                } else {
                    $(".comment-node-post"+_postid).prepend(_html);
                }
                $('.form-comment-'+_postid).val('');
            }
        });
    })


    $('.like').click(function() {
        var pk = $(this).data('id');
        $.ajax({
            type: "POST",
            url: "{% url 'post_like' %}",
            data: {'id': $(this).data('id'), action: $(this).data('action'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function(response) {
                var previous_action = $('#like'+pk).data('action')

                $('#like'+pk).data('action', previous_action == "like" ? "unlike": 'like');

                var previous_likes = parseInt($('#total-likes'+pk).text());

                $('#like-icon'+pk).attr(
                    "d", previous_action == 'like' ? "M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" : "m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z")

                $('#total-likes'+pk).text(
                    previous_action == 'like' ? previous_likes + 1 : previous_likes - 1
                );
            }
        });
    })


    $('#add-contact-btn').click(function() {

        $.ajax({
            type: "POST",
            url: "{% url 'follow_to_user' %}",
            data: {'id': $(this).data('id'), action: $(this).data('action'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function(response) {
                var previous_action = $('#add-contact-btn').data('action')

                $('#add-contact-btn').data('action', previous_action == "follow" ? "unfollow": 'follow');

                var previous_followers = parseInt($('#followers').text());

                $('#add-contact-btn').text(
                    previous_action == 'follow' ? "Отписаться" : "Подписаться");

                $('#followers').text(
                    previous_action == 'follow' ? previous_followers + 1 : previous_followers - 1
                );
            }
        });
    })
});

</script>

{% endblock %}